{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>Our Story</h1>

    <p class="lead">Brewed with love in El Salvador</p>

    <p>Like most grad-schoolers, I live off caffeine. But instead of just drinking it daily, I am obsessed with creating it.</p>

    <p>The first batch of Cafecito cold brew coffee was brewed in October 2020. Cafecito is committed to brewing a strong, surprisingly smooth, 100% organic, and easy for you and the planet cold brew. We brew our coffee for 32 hours until it reaches a smooth, bold flavor that can be used as a pre workout shot, iced caffeinated drink, for cocktails, lattes & ice cream.</p>
        
    <p>Our Pacamara coffee beans are grown in Finca Lourdes (my dad's!), located in El Salvador.</p>
    
    <p>Because we are committed to the planet, we use glass bottles that can be returned to us or any glass recycling collector. We want to make it easy for you and for the planet to enjoy cold brew!</p>
        
    <p>Cheers,</p>
       
    <p>Pao</p>
    <!-- ======= Pictures Section ======= -->
        <div class="container">
  
          <div class="section-title">
            <h2> Cafecito <span>Snapshots</span></h2>
            <p>The perfect start to your day: a sip of our extra strong, surprisingly smooth cold brew! </p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-4 col-md-6">
              <div class="member">
                <div class="pic"><img src="static/img/Pao1.jpeg" class="img-fluid" alt=""></div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
                <div class="member">
                  <div class="pic"><img src="static/img/Pao2.jpeg" class="img-fluid" alt=""></div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6">
                <div class="member">
                  <div class="pic"><img src="static/img/Pao3.jpeg" class="img-fluid" alt=""></div>
                </div>
              </div>
  
          </div>
  
        </div>
 
   
<!-- End Pictures section-->
    

{% endblock %}
